#descritpionDiv{

    display: flex;
    flex-direction: column;
    margin: 10px;
  
    height: 220px;
}
   
#lastModified{

    font-size: 12px;
    margin: 0px;
    color: #424242;
}

#title{
    font-size: 25px;
    margin: 0px;
    color: #424242;

}
#findMore{
    font-size: 18px;
    margin: 0px;
    color: #f71b39;

    
    
}
#descriptionText{

    margin-top: 10px;
    font-size: 13px;
    margin: 0px;
    color: #424242;

    margin-bottom: auto;
}




#main{
    display: flex;
    flex-direction: row;
    overflow: auto;
    height: 100vh;
    flex-wrap: wrap;
    background-color: #f71b39;
    margin: 20;
    justify-content: center;
    

 
}
#cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
#card{
    
    margin: 30px;
    padding: 10px;
    width: 270px;
    height: 520px;
    background-color: rgb(233, 233, 233);
    border-radius: 10px;
    
}

#navbar{
    display: flex;
    justify-content: center;
    background-color: rgb(233, 233, 233);
    border-radius: 15px;
    margin-bottom: 40px;
    
}
#icon{

    font-size: 35px;
    color: #f71b39; 
    margin: 10px;
}


